@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(http://fonts.gstatic.com/s/play/v6/pnY_fwhX9LPUfjyW6oydMg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/play/v6/Nw0-sh1PYRMm1zeOJOLG_Q.woff) format('woff');
}
